{
    "plugins": ["prettier-plugin-svelte"],
    "singleQuote": false,
    "tabWidth": 2,
    "svelteSortOrder": "options-scripts-markup-styles",
    "svelteStrictMode": false,
    "svelteBracketNewLine": true,
    "svelteAllowShorthand": true,
    "svelteIndentScriptAndStyle": true,
    "semi": false
  }
  